@CHARSET "UTF-8";

#container {
	display:block;
	margin: 0 auto;
	width: 80%;
}

#header {
	background-color: black;
	height: 200px;
	width: 99%;
	display: inline-block;
}

#headPic {
	display: block;
	background-color: red;
	width: 30%;
	height: 100%;
	margin: 0 auto;
}

#content {
	height: 40px;
	border: 1px solid black;
	width: 99%;
	margin: 0;
	padding: 0;
}

#buttons {
	display: block;
	width: 100px;
	height: 100%;
	margin: 0 auto;
	padding-top: 10px;
}

.fa fa-pause {
	margin: 1em;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 99%;
	border: 1px solid black;
	display: inline-block;
}

ol li {
	border-bottom: 1px solid black;
	height: 20px;
	padding-left: 10px;
	
}

.title {
	float: left;
}

.start {
	float: right;
	padding-right: 10px;
}
